.nav_header_main_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 20px;
    background-color: #fff;
    border-bottom: 1px solid #000;
}
.user_role_logout_container {
    display: flex;
    align-items: center;
}
.nav_header_logout_container {
    background-color: crimson;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    border: 0px;
    border-radius: 8px;
    padding: 6px 15px;
    margin-left: 10px;
}
.user_role_span {
    font-weight: 600;
    font-size: 15px;
    color: green;
    text-decoration: underline;
}
.header_logo_image {
    height: 60px;
}

@media screen and (min-width:768px){
    .logout_mobile_view_button {
        display: none;
    }
    .mobile_view_user_role{
        display: none;
    }
}
@media screen and (max-width:767px){
    .logout_mobile_view_button {
        display: block;
        color: red; 
        margin-left: 20px;
        cursor: pointer;
        outline: none;
    }
    .nav_header_logout_container {
        display: none;
    }
    .desktop_view_user_role {
        display: none;
    }
}